/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General syles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #4a4a4a;
    font-family: "Raleway", sans-serif;
}

/* Header */
header {
    background-color: #034539; 
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #4a4a4a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Remove default underlining on navigation links */
header a {
    text-decoration: none;
    color: #fffcf7;
}

h1 {
   font-family: 'PT Sans Narrow' , sans serif;
   text-transform:capitalize;
   letter-spacing: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #edc051;
}



/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #034539;
    width: 100%;
    left: 0;
    padding:0 1rem;
    box-shadow: 0 2px 2px #4a4a4a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #edc051;
}

/* Main content */
main {
    background-color: lightcoral;
    /* Make main element take up any surplus space to push footer to bottom of page */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightblue;
}