/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General syles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #4a4a4a;
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto Condensed', sans serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #fffcf7
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #034539;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #4a4a4a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
}

/* Remove default underlining on navigation links */
header a {
    text-decoration: none;
    color: #fffcf7;
}

/* .logo-menu {
    padding: 10px;
    margin-bottom: 10px;
} */

.logo {
    padding: 0 16px;

}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #e6af49;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #034539;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #4a4a4a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #e6af49;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer to bottom of page */
    flex: 1 0 auto;
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;

}

/* hero image and cover text for index.html */
#hero {
    height: 400px;
    width: 100%;
    background: url("../images/hero-image.avif") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value makes the color semi-transparent */
    background-color: rgba(230, 175, 73, .3);
    color: #fffcf7;
    font-size: 130%;
    position: absolute;
    bottom: 150px;
    right: 0;
    width: 90%;
    min-height: 80px;
    padding-top: 40px,
}

#cover-text>h3 {
    font-family: 'Raleway', sans serif;
    text-transform: capitalize;
    text-align: center;
}

i {
    padding-right: 15px;
}

/* Create more space for headings on home page */
.home-headings {
    padding-top: 20px;
    padding-bottom: 20px;
}

.great-zim-headings {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Gallery for index.html */
#photos {
    width: 100%;
    margin: 0 auto;
    padding-left: 6%;
}

#photos img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    margin: 0;
}

.gallery-heading {
    color: #4a4a4a;
    text-decoration: underline;
}

/*Gallery for victoria-falls.html */
#photos-vic {
    width: 100%;
    margin: 0 auto;
    padding-left: 6%;
}

#photos-vic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    margin: 0;
}

/*Gallery for great-zimbabwe.html */
#photos-great {
    width: 100%;
    margin: 0 auto;
    padding-left: 6%;
}

#photos-great img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 10px;
    margin: 0;
}

/* hero image and cover text for great-zimbabwe.html */
#hero-zim {
    height: 400px;
    width: 100%;
    background: url("../images/great-zimbabwes-great-enclosure.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text-zim {
    /* Final rgba value makes the color semi-transparent */
    background-color: rgba(0, 0, 0, 0.1);
    color: #fffcf7;
    font-size: 130%;
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 90%;
    min-height: 80px;
    padding-top: 40px,
}

#cover-text-zim>h3 {
    font-family: 'Raleway', sans serif;
    text-transform: capitalize;
    text-align: center;
}

/* hero image and cover text for victoria-falls.html */
#vic-falls-hero {
    height: 800px;
    width: 100%;
    background: url("../images/vic-falls-hero.avif") no-repeat 60% center/cover;
    position: relative;
}

.vic-falls-cover-text {
    color: #fffcf7;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}

.give-away-border {
    border-top: 2px solid #034539;
}


#give-away {
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin: 20px auto;
}

#give-away h2,
#give-away h3 {
    color: #034539;
}

#radio-button {
    width: 100%;
    color: #4a4a4a;
}

#give-away-form {
    display: column;
    padding: 20px;
}

#give-away-form>h2,
#give-away-form>h3 {
    margin-bottom: 20px;
}

.subscribe-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    color: #4a4a4a;
}

#thank-you {
    text-align: center;
    padding-top: 200px;
}

#thank-you>.redirect>h2 {
    color: #034539;
}


#brief-description>div>h3,
#brief-description>div>h2 {
    color: #4a4a4a;
    text-decoration: underline #4a4a4a 2px;
}

#brief-description>#summary>div,
#brief-description>#culture-weather>div {
    text-align: justify;
    padding-bottom: 30px;
}

.brief-description {
    padding: 10px;
    text-align: center;

}

a {
    color: #034539;
    font-weight: bold;
}

/* Change font color for h2 in giveaway page align text center*/

.great-zim-headings {
    color: #034539;
    padding-bottom: 100px;
    padding-top: 30px;
    text-decoration: underline;
}

.great-zim-info {
    text-align: center;
    padding: 20px;
}

/* Suggestions section */

#suggestions {
    background: url('../images/hero-image.avif');
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
}

#suggestions div {
    color: #fffcf7;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    /* Divs will expand on wider screens */
    flex-basis: 200px;
    flex-grow: 1;
    /* Offwhite border around divs */
    border: 2px solid #fffcf7;

}

#restaurants,
#pubs-clubs,
#sights,
#relax {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: justify;
}

#suggestions h2 {
    color: #fffcf7;
    text-align: justify;
}

#suggestions p {
    text-align: center;
}

#suggestions>div>h3 {
    color: #fffcf7;
    text-decoration: underline;
    padding: 15px;
    text-align: center;
}

#give-away>#suggestions {
    bottom: 0;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #034539;

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #fffcf7;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2.5rem;
        font-size: smaller;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #photos {
        padding-left: 10%;

    }

    #photos-vic {
        padding-left: 10%;

    }

    #photos-great {
        padding-left: 10%;

    }

    #give-away,
    #suggestions {
        width: 100%;
        float: none;
    }

    #give-away-form {
        max-width: 100%;
        /* position: absolute; */
        left: 10px;
        top: 150px;
        text-align: justify;
    }

    #give-away-form>h2,
    #give-away-form>h3 {
        padding-bottom: 20px;
    }


    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
        font-size: 150%;
    }

    .brief-description {
        padding: 20px;
    }

    /* Hero and covertext for index.html */
    #hero {
        height: 600px;
    }

    #cover-text {
        bottom: 0;
        width: 80%;
        font-size: 150%;
    }

    /* Hero and covertext for great-zimbabwe.html */
    #hero-zim {
        height: 600px;
    }

    #cover-text-zim {
        bottom: 0;
        width: 80%;
        font-size: 150%;
    }

    /* Hero and covertext for victoria-falls.html */
    #vic-falls-hero {
        height: 1000px;
    }

    /* Create more space for headings on home page */
    .home-headings {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .great-zim-headings {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .text-input:hover {
        border-color: #034539;
    }

    .join-button:hover {
        background-color: #034539;
        color: #454b1b;
    }

    #give-away {
        margin: 0;
        border: 0;
        padding: 0;
    }

    #give-away-form>h2,
    #give-away-form>h3 {
        margin-bottom: 0;
        padding: 0;
    }

    .vic-falls-cover-text {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

}

/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #edc051;
    }

    #logo {
        font-size: 500%;
        margin-top: 21px;
        margin-bottom: 20px;
    }

    #menu {
        font-size: 150%;
    }

    /* Hero image and covertext for index.html */
    #hero {
        height: 600px;
    }

    #cover-text {
        bottom: 300px;
        width: 60%;
        font-size: 180%;
    }

    /* Hero image and covertext for great-zimbabwe.html */
    #hero-zim {
        height: 700px;
    }

    #cover-text-zim {
        bottom: 300px;
        left: 25%;
        width: 50%;
        font-size: 180%;
    }

    /* Create more space for headings on home page */
    .home-headings {
        padding-top: 30px;
        padding-bottom: 80px;
    }

    .great-zim-headings {
        padding-top: 30px;
        padding-bottom: 80px;
    }

    .brief-description {
        padding: 100px;
    }

    #give-away-form {
        text-align: justify;
        padding-left: 20%;
    }

    #give-away-form>h2,
    #give-away-form>h3 {
        margin-bottom: 50px;
    }

    .vic-falls-cover-text {
        padding-left: 150px;
        padding-right: 150px;

    }